#Shop{
    margin: 50px 0;
}
.ShopCategory{
    background: #362526;
    width: 600px;
    height: 400px;
.CategoryText{
    h5{
        text-align: center;
        color: white;
        font-family: 'Quicksand', sans-serif;
        padding: 10px 0;
    }
}
}
