#AboutUs{
    background: white;
    margin-bottom: 50px ;
    .AboutImage{
        margin-top: 120px;
    }
    .hr{
        width: 20%;
        height: 2px;
        color: #e7c14e;
        background: #e7c14e;
    }
.About-text{
 
    h1{
        font-family: 'Quicksand', sans-serif;
        font-size: 60px;
        font-weight: bold;
        
    }
    p{
        margin-top: 30px;
        font-family: 'Quicksand', sans-serif;
        font-size: 20px; 
    }
    }
}
